<header>

  <!--navbar-->
  <div class="ui stackable menu top primaryColor">

    <!--site logo routes to home-->
    <div class="header item">
      <!-- <img [routerLink]="['/']" src="../../assets/logo.png"> -->
      <span class="text">Sports Portfolio</span>
    </div>

    <div class="right menu">
      <!--catalog-->
      <a class="item" [routerLink]="['/']">
        catalog
      </a>

      <!--about-->
      <a class="item" [routerLink]="['/about']">
        about
      </a>

      <!--if(user) then login-->
      <a class="item" [routerLink]="['/auth/login']" *ngIf="!user; else account">
        login
      </a>

      <a class="item" [routerLink]="['/auth/register']" *ngIf="!user">
        signup
      </a>
    </div>

    <!--else account_dropdown-->
    <ng-template #account>
      <div class="ui dropdown item" suiDropdown>
        <span class="text"> my account </span>
        <i class="dropdown icon"></i>
        <!--submenu-->
        <div class="menu" suiDropdownMenu>
          <div class="item"> cart </div>
          <div class="item"> settings </div>
          <div class="item" (click)=logout> logout</div>
        </div>
      </div>
    </ng-template>

  </div>
</header>
