<header>

  <!--navbar-->
  <div class="ui menu top inverted teal fixed">

    <!--site logo routes to home-->
    <div class="item">
      <img [routerLink]="['/']" src="../../assets/logo.png">
    </div>

    <!--about-->
    <a class="item" [routerLink]="['/about']">
      about
    </a>

    <!--if(user) then login-->
    <a class="item" [routerLink]="['/auth/login']" *ngIf="!user; else account">
      login
    </a>

    <!--else account_dropdown-->
    <ng-template #account>
      <div class="ui dropdown item">
        my account
        <i class="dropdown icon"></i>

        <!--submenu-->
        <div class="menu">
          <div class="item"> cart </div>
          <div class="item"> settings </div>
          <div class="item" (click)=logout> logout</div>
        </div>
      </div>
    </ng-template>

  </div>
</header>
