<!--search-->
<div class="ui item input">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Search for your card.. ">
</div>
  <!--sports-->
  <div class="item">
    <sui-accordion>
      <sui-accordion-panel>
        <div title>
          Sports
          <i class="dropdown icon"></i>
        </div>
        <div content class="ui fluid form">
          <div class="field"> Hockey </div>
          <div class="field"> Basketball </div>
          <div class="field"> Baseball </div>
          <div class="field"> Football </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
  <!--year-->
  <div class="item">
    <sui-accordion>
      <sui-accordion-panel>
        <div title>
          Year
          <i class="dropdown icon"></i>
        </div>
        <div content class="ui fluid form">
          <div class="field"> 1990</div>
          <div class="field"> 1991</div>
          <div class="field"> 1992</div>
          <div class="field"> 1993</div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
  <!--edition-->
  <div class="item">
    <sui-accordion>
      <sui-accordion-panel>
        <div title>
          Edition
          <i class="dropdown icon"></i>
        </div>
        <div content class="ui fluid form">
          <div class="field"> Hall of Fame </div>
          <div class="field"> Rookie </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
