.main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
}

.pad {
    padding-top: 30px;
}

img {
    width: 35%;
}
