<div class="ui main container very padded segment">
  <h1 class="ui header"> Hi, I'm Rick Strattan </h1>
  <div class="ui relaxed grid"> 
    <div class="ten wide column">
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </div>
    <div class="six wide column">
      <img class="ui medium rounded image" src="../../assets/rick.png">
    </div>
  </div>
  <div class="ui horizontal divider">
    How does this work?
  </div>
  <ol class="ui list">
    <li>Register for a new account and login</li>
    <li>Browse my catalog</li>
    <li>Choose your favorite cards and add them to the cart</li>
    <li>Review your cart</li>
    <li>Send your cart to me and I'll get back to you with a quote</li>
  </ol>

  <div class="ui horizontal divider">
    Another question...?
  </div>
  This is the answer to some other question that might be asked frequently.
</div>
