<div clas="main">
  <div class="ui text container pad">
    <div class="ui header">
      Hi, I'm Rick Strattan!
    </div>

    <img class="ui center medium circular image" src="../../assets/rick.png">
    <br>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor, lacus sit amet eleifend tempor, quam risus faucibus dui, in laoreet elit nisl vitae sem. Proin suscipit non metus eget sagittis. Praesent a elementum turpis, ac lobortis est. Nullam
      tincidunt consequat arcu id fringilla. Aliquam malesuada ut magna at volutpat. Praesent cursus ut libero eu scelerisque. Praesent feugiat placerat massa et pulvinar. Quisque suscipit molestie tortor.
    </p>
    <p>
      Vestibulum eros urna, malesuada sit amet sodales et, luctus in felis. Maecenas condimentum eros mi, non gravida libero maximus non. Sed dolor eros, consectetur in egestas non, posuere vel elit. Vestibulum condimentum lectus vitae mi euismod lacinia. Suspendisse
      quis nisl suscipit lacus tempus placerat at ut nisi. Vivamus aliquam ultrices accumsan. Donec quis elit vel libero hendrerit ullamcorper. Proin gravida sodales dui non venenatis. Aenean convallis tellus nisi, et venenatis nibh vestibulum sed. Sed
      congue risus nec odio tincidunt, sit amet venenatis sapien vehicula. Phasellus aliquam libero neque, ac rutrum augue tincidunt sed. Integer non vestibulum tellus. Donec at sem mauris. Donec pulvinar diam nec mattis malesuada. Ut facilisis odio ac
      sapien consequat tincidunt.
    </p>
    <p>
      Morbi sed magna ac turpis mollis laoreet. Nam a mattis dui. Vivamus aliquet libero quis nisl tristique, eu ultrices elit posuere. Aliquam pulvinar hendrerit quam ut bibendum. Sed augue est, feugiat sed scelerisque in, hendrerit eget mauris. Maecenas pharetra
      aliquam odio non imperdiet. Quisque varius metus vel leo tristique, sit amet volutpat lectus consectetur. Suspendisse quis tempor nunc, a fringilla orci. In ullamcorper, tortor ac varius pretium, ex ex tristique risus, in malesuada arcu tortor non
      neque. Vivamus eget lobortis metus, lacinia imperdiet ligula. Donec vehicula, orci nec gravida euismod, velit ex iaculis sapien, vitae pharetra turpis risus at orci. Donec pharetra elit vel lorem posuere sodales. Nulla non egestas quam, id vestibulum
      metus.
    </p>
  </div>
</div>
