<div class="ui four doubling cards">

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Los Angeles Lakers</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          Basketball
        </span>
        <span class="right floated">
          NBA
        </span>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Los Angeles Lakers</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          Basketball
        </span>
        <span class="right floated">
          NBA
        </span>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Los Angeles Lakers</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          Basketball
        </span>
        <span class="right floated">
          NBA
        </span>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Los Angeles Lakers</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          Basketball
        </span>
        <span class="right floated">
          NBA
        </span>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Los Angeles Lakers</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          Basketball
        </span>
        <span class="right floated">
          NBA
        </span>
      </div>
    </div>


</div>
