


    <div class="ui four doubling cards">
        <div class="card" *ngFor='let card of cards'>
          <div class="image">
            <img src="{{card.images.front}}">
          </div>
          <div class="content">
            <div class="header">{{card.player.name}}</div>
            <div class="meta">
              <a>{{card.card.set}} #{{card.player.setNumber}} of {{card.card.setAmount}}</a>
            </div>
          </div>
          <div class="extra content">
            <span>
              <i class="fas fa-{{card.card.sport.toLowerCase()}}-ball"></i>
              {{card.card.sport}} | {{card.card.year}}
            </span>
            <span class="right floated">
               {{card.card.condition}}
            </span>
          </div>
        </div>
    </div>


