

<!--
  This isn't working as is. We need this to repeat the cards, until it reaches the end of the card list. Also this might be where we
  want to implement infinite scroll.
-->

<!--Test Card with Base information-->

<div class="ui four doubling cards">
    <div class="card">
      <div class="image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51pqXOUa-ZL.jpg">
      </div>
      <div class="content">
        <div class="header">Kevin Garnett</div>
        <div class="meta">
          <a>Minnesota Timberwolves</a>
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="fas fa-basketball-ball"></i>
          1995-96 | Stadium Club
        </span>
        <span class="right floated">
          #343 of 350
        </span>
      </div>
    </div>
<!--Repeating Cards-->
<div *ngIf="cardServ.cards.length">
  <div *ngFor='let card of cardServ.cards'>
      <div class="card">
        <div class="image">
          <img src="{{card.images.front}}">
        </div>
        <div class="content">
          <div class="header">{{card.player.name}}</div>
          <div class="meta">
            <a>{{card.player.team}}</a>
          </div>
        </div>
        <div class="extra content">
          <span>
            <i class="fas fa-{{card.player.sport}}-ball"></i>
            {{card.card.year}} | {{card.card.set}}
          </span>
          <span class="right floated">
            #{{card.player.setNumber}} of {{card.card.setAmount}}
          </span>
        </div>
      </div>
  </div>
</div>
</div>