<div class="ui four doubling cards">
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Los Angeles Lakers</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        NBA
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bobs</div>
      <div class="meta">
        <a>New York Jets</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-football-ball"></i>
        Football
      </span>
      <span class="right floated">
        NFL
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bafor</div>
      <div class="meta">
        <span class="date">USA Basketball Olympic Team</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        Olympics
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
    </div>
    <div class="content">
      <div class="header">Claire Carford</div>
      <div class="meta">
        <span class="date">USA Swimming Olympic Team</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-swimming-pool"></i>
        Swimming
      </span>
      <span class="right floated">
        Olympics
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
    </div>
    <div class="content">
      <div class="header">Claire Carford</div>
      <div class="meta">
        <span class="date">USA Swimming Olympic Team</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-swimming-pool"></i>
        Swimming
      </span>
      <span class="right floated">
        Olympics
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Los Angeles Lakers</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        NBA
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bobs</div>
      <div class="meta">
        <a>New York Jets</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-football-ball"></i>
        Football
      </span>
      <span class="right floated">
        NFL
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bafor</div>
      <div class="meta">
        <span class="date">USA Basketball Olympic Team</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        Olympics
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Los Angeles Lakers</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        NBA
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bobs</div>
      <div class="meta">
        <a>New York Jets</a>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-football-ball"></i>
        Football
      </span>
      <span class="right floated">
        NFL
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <div class="header">Steve Bafor</div>
      <div class="meta">
        <span class="date">USA Basketball Olympic Team</span>
      </div>
    </div>
    <div class="extra content">
      <span>
        <i class="fas fa-basketball-ball"></i>
        Basketball
      </span>
      <span class="right floated">
        Olympics
      </span>
    </div>
  </div>
</div>
