.main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.pad {
  margin-top: 25px;
  margin-bottom: 75px;
}

.sidebar {
  margin: 10px;
  position: sticky;
}

.input {
    width: 50%;
}
