.main {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pad {
  margin-top: 50px;
  margin-bottom: 75px;
  position: auto;
}

.sidebar {
  margin: 10px;
  position: absolute;
}

.image:img {
  max-width: 100%;
  transition: all 0.3s; 
  
}

.image:hover  img{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
